{% extends 'base.html' %}
{% load static %}

{% block main_content %}
    <section class="h-screen">
        <div class="h-full">
          
          <div class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between">
            <!-- Left column container with background-->
            <div
              class="shrink-1 mb-12 grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12">
              <img
                src="https://www.carpha.org/Portals/0/xBlog/uploads/2021/12/29/Default-Media-Release-Photo.jpg"
                class="w-full"
                alt="Sample image" />
            </div>
      
            <!-- Right column container -->
            <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12 pr-[20%]">
              <form method="post">
                {% csrf_token %}
                <!--Sign in section-->
                <div
                  class="flex flex-row items-center justify-center lg:justify-start">
                  <p class="mb-0 mr-4 text-lg">Sign in</p>
                </div>
      
                <hr class="my-4" />
      
                <!-- Username input -->
                <div class="flex justify-center gap-8">
                  <label for="id_username" >Username </label>
                  <input
                    type="text"
                    class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none"
                    id="id_username"
                    name="username"
                    placeholder="Username" />
                </div>
      
                <!-- Password input -->
                <di class="flex justify-center gap-8 mt-4">
                 <label for="id_password" >Password </label>
                  <input
                    type="id_password"
                    class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none"
                    id="id_password"
                    name="password"
                    placeholder="Password" />
                </di>
      
                <hr class="my-4" />
                <!-- Login button -->
                <div class="text-center lg:text-left mt-4">
                  <button
                    type="submit"
                    class="inline-block rounded bg-blue-500 px-4 py-2 text-sm font-medium uppercase leading-normal text-white"
                    data-te-ripple-init
                    data-te-ripple-color="light" value="Submit">
                    Login
                  </button>

                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
